<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/rehabilitationclinic"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
                depends-on="flyway">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <array>
                <value>com.javaschool.entities.Patient</value>
                <value>com.javaschool.entities.Employee</value>
                <value>com.javaschool.entities.PatientCard</value>
                <value>com.javaschool.entities.Diagnosis</value>
                <value>com.javaschool.entities.Event</value>
                <value>com.javaschool.entities.Prescription</value>
                <value>com.javaschool.entities.PrescriptionTime</value>
                <value>com.javaschool.entities.ProcedureAndMedicament</value>
                <value>com.javaschool.entities.Role</value>
                <value>com.javaschool.entities.WorkingTime</value>
            </array>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="flyway" class="com.googlecode.flyway.core.Flyway" init-method="migrate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>